@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
* {
  font-family: "Jersey 15", sans-serif;
  font-weight:500; 
 font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f0f0f0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     min-height: 100vh;
    background: #f0f0f0;
}

.cards, .card, .view{
  display: flex;
  align-items: center;
  user-select: none;
  
  justify-content: space-around;
  border-radius: 10px;
  gap: 2%;
 


}
h1 {
  text-align: center;
  margin-top: 20px;
  color: #333;
  padding: 2%;
}

.card{
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.cards{
  height: 400px;
  width: 400px;
  flex-wrap: wrap;
  justify-content: space-between;
    
}

.back img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
     object-fit: cover;
    transform: rotateY(0deg);
}

.cards .card{
  cursor: pointer;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  height: calc(100% / 4 - 10px);
  width: calc(100% / 4 - 10px);
}

.card .view{
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background: #fff;
  pointer-events: none;
  backface-visibility: hidden;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  transition: transform 0.25s linear;
   background: linear-gradient(90deg, #696EFF, #F8ACFF);    
  
  
}

.card .back{
  transform: rotateY(-180deg);
}

.card {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}



.card.shake{    

  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0%, 100%{
    transform: translateX(0);
  }
  20%{
    transform: translateX(-13px);
  }
  40%{
    transform: translateX(13px);
  }
  60%{
    transform: translateX(-8px);
  }
  80%{
    transform: translateX(8px);
  }
}

.card.flipped .back {
  transform: rotateY(0deg);
}
.card.flipped .front {
  transform: rotateY(-180deg);
}


button{
  margin-top: 20px;
  padding: 10px 20px;
 background: linear-gradient(90deg, #696EFF, #F8ACFF);
  color: black;
  border: none; 
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 50px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  transition: background 0.3s ease;
}


button:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 35px rgba(102, 126, 234, 0.6);
}


